@media (max-width: 575px) {
    .music-posts {
        padding: 0px !important;
    }

    /* .rotate {
        display: none;
    }

    #intro {
        padding-left: 0;
    } */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-group > #email-err.appear, #name-err.appear, #message-err.appear{
    opacity: 1 !important;
    transition: 0.2s;
}